# Dependencias
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/